@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --brand-colorblack: rgba(0, 0, 0, 1);
  --brand-colordark-grey: rgba(51, 51, 51, 1);
  --brand-colorgray-100: rgba(248, 249, 250, 1);
  --brand-colorgray-200: rgba(233, 236, 239, 1);
  --brand-colorgrey-300: rgba(222, 226, 230, 1);
  --brand-colorgrey-400: rgba(206, 212, 218, 1);
  --brand-colorgrey-500: rgba(173, 181, 189, 1);
  --brand-colorgrey-600: rgba(108, 117, 125, 1);
  --brand-colorgrey-700: rgba(73, 80, 87, 1);
  --brand-colorgrey-800: rgba(52, 58, 64, 1);
  --brand-colorgrey-900: rgba(33, 37, 41, 1);
  --brand-colorlight-shade: rgba(241, 241, 241, 1);
  --brand-colorvisibuy-blue: rgba(0, 123, 255, 1);
  --brand-colorvisibuy-green: rgba(40, 167, 69, 1);
  --brand-colorwhite: rgba(255, 255, 255, 1);
  --gray-400: rgba(107, 114, 128, 1);
  --gray-50: rgba(243, 244, 246, 1);
  --phone-screen-shadow: 4px 16px 40px 0px rgba(0, 0, 0, 0.1);
  --red-500: rgba(220, 38, 38, 1);
  --slate-400: rgba(100, 116, 139, 1);
  --slate-500: rgba(71, 85, 105, 1);
  --slate-900: rgba(2, 6, 23, 1);
  --text-lg-regular-font-family: "Open Sans", Helvetica;
  --text-lg-regular-font-size: 18px;
  --text-lg-regular-font-style: normal;
  --text-lg-regular-font-weight: 400;
  --text-lg-regular-letter-spacing: 0px;
  --text-lg-regular-line-height: 28px;
  --text-md-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-font-style: normal;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-sm-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: "Open Sans", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-xl-semibold-font-family: "Montserrat", Helvetica;
  --text-xl-semibold-font-size: 20px;
  --text-xl-semibold-font-style: normal;
  --text-xl-semibold-font-weight: 600;
  --text-xl-semibold-letter-spacing: 0px;
  --text-xl-semibold-line-height: 30px;
  --text-xs-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --variable-collection-alt-grey-color: rgba(161, 161, 161, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
  --variable-collection-blue-color: rgba(0, 122, 255, 1);
  --variable-collection-button-2: rgba(227, 227, 227, 1);
  --variable-collection-green-color: rgba(40, 167, 69, 1);
  --variable-collection-grey-color: rgba(127, 128, 129, 1);
  --variable-collection-orange: rgba(255, 98, 0, 1);
  --variable-collection-secondarycolor: rgba(200, 226, 255, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --visibuyb-100: rgba(214, 242, 255, 1);
  --visibuyb-25: rgba(251, 254, 255, 1);
  --visibuyb-700: rgba(0, 123, 255, 1);
  --visibuyg-100: rgba(223, 249, 228, 1);
  --visibuyg-200: rgba(193, 241, 203, 1);
  --visibuyg-600: rgba(40, 167, 69, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
